*{
    font-family: sans-serif;
    /* color: black; */
}

header,footer,a{
    font-family: sans-serif;
    padding:25px;
    color: white;
    text-align: center;
    background-color: rgb(61, 70, 158);
}

.liveWeather{
    border: 1px solid black;
}

.searchBtn{
    color: white;
    background-color: rgb(105, 145, 227);
}

.card{
    background-color: rgb(50, 61, 79);
    color: white;
}