*{
    font-family: sans-serif;
    /* color: black; */
}

header{
    padding:25px;
    color: white;
    text-align: center;
    background-color: rgb(77, 77, 223);
}

.selectedCity{
    border: 1px solid black;
}

.searchBtn{
    color: white;
    background-color: rgb(56, 56, 250);
}